.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex: 1;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    color: var(--caption);
  }
}

.button {
  height: 56px;
  width: 650px;

  color: var(--text);
  background: none;
  font-size: 18px;

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--primary), var(--gray)) 1;

  margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  >svg {
    font-size: 24px;
    margin-right: 7px;
  }

  transition: background-color .3s;

  &:hover {
    background-color: var(--background-light);
  }
}

.user {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 64px;

  >img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin-bottom: 16px;
  }
}